/*
	          \|||/
	          (o o)
	+~~~~~ooO~~(_)~~~~~~~~~~+
	|  CSS is so boring...  |
	|  Let's write some     |
	|  badass JS instead!   |
	+~~~~~~~~~~~~~~~Ooo~~~~~+
	         |__|__|
	          || ||
	         ooO Ooo
*/






html {
	overflow: hidden;
	touch-action: none;
	content-zooming: none;
}